/mevislab/DIAG/Pathology/Modules/Scripts/python/multiresolutionimageinterface/_multiresolutionimageinterface.pyd
/mevislab/DIAG/Pathology/Modules/Scripts/python/multiresolutionimageinterface/multiresolutionimageinterface.py
